# Handling MIssing Values

In [1]:
import pandas as pd
import numpy as np

In [17]:
# import the dataset
dataset = pd.read_csv('missingData.txt')
dataset

         Phone Name Manufacturer Storage Memory  Price (USD) Internet Network
0  Galaxy S22 Ultra      Samsung   512GB   12GB         1099               5G
1     iPhone 14 Pro        Apple   256GB    6GB          999               5G
2           Pixel 7       Google     NaN    8GB          599               5G
3       OnePlus 10T      OnePlus     NaN   16GB          649               5G
4     Redmi Note 11       Xiaomi   128GB    4GB          249           4G LTE
5      Moto G Power     Motorola    64GB    4GB          199           4G LTE
6        Nokia G400        Nokia   128GB    6GB          299               5G
7           P50 Pro       Huawei   256GB    8GB          899           4G LTE
8      Oppo Find X5         Oppo     NaN   12GB          799               5G
9          Vivo X80         Vivo   512GB   12GB          749               5G

In [19]:
# in case of filling a missing value in a column having string objects as the datatype
dataset["Storage"].fillna(12,inplace=True)

C:\Users\Shamir Khan\AppData\Local\Temp\ipykernel_452\537578286.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Storage"].fillna(12,inplace=True)

## Step 2
## If there is any missing value like nan(instead of a valid number), then try to fill it appropriate values

In [8]:
# lets fill it

# in case of filling a missing value in a column having string objects as the datatype
dataset["sex"].fillna("MissingVaue",inplace=True)

# in case of filling a missing value in a column having "int" as the datatype
dataset["chol"].fillna(dataset["chol"].mean,inplace=True)

## Step 3
## Be careful while working with Target or the column to be Predicted, because we don't want to fill the predicted/target missing values, so simply drop it

In [13]:
dataset.dropna(inplace=True)