# fit model: model.fit => model training and model predictions

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
import numpy as np
iris_df = pd.DataFrame(iris['data'], columns = iris['feature_names'] )
iris_df['target']= pd.Series(iris['target'])
iris_df.head(-15)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
132,6.4,2.8,5.6,2.2,2
133,6.3,2.8,5.1,1.5,2
134,6.1,2.6,5.6,1.4,2

In [7]:
from sklearn.model_selection import train_test_split
X = iris_df.drop('target',axis = 1)
Y = iris_df['target']

In [41]:
# x_train,x_test, y_train , y_test = train_test_split(X,Y, test_size = 0.2)

## Remember this is a Classification Problem

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train);

In [16]:
rfc.predict(x_test)[:5]

array([0, 1, 2, 1, 2])

In [19]:
rfc.predict_proba(x_test)[:5]
# remember the output shows the probability of each of the value, 0, 1, 2. if there exists a 1 in the first col and 0's in other it means the result is 0 (a category)

array([[1.  , 0.  , 0.  ],
       [0.  , 1.  , 0.  ],
       [0.  , 0.  , 1.  ],
       [0.  , 1.  , 0.  ],
       [0.  , 0.17, 0.83]])

## Doing predict and predict_proba for a Regression Problem

In [42]:
# let import the phone dataset
phones = pd.read_csv("phones.csv")
phones.head()

,Phone Name,Manufacturer,OS,Storage (GB),RAM (GB),Screen Size (in),Internet Network,Price (USD),Performance Score
0,Apple Pro Max_0,Apple,iOS,128,12,6.2,5G,526,68
1,Apple Pro Max_1,Apple,iOS,1024,16,6.1,5G,783,81
2,Samsung Galaxy_2,Samsung,Android,128,12,6.9,5G,513,75
3,Samsung Galaxy_3,Samsung,Android,128,12,6.2,4G LTE,575,69
4,Motorola Galaxy_4,Motorola,Android,64,4,6.5,5G,297,43

In [43]:
x = phones.drop(["Price (USD)","Manufacturer","OS","Internet Network"], axis=1)
y= phones["Price (USD)"]

In [44]:
x_train,x_test, y_train , y_test = train_test_split(x,y, test_size = 0.2)

In [58]:
# model training is not possible until you don't encode the string values: so let's encode it
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# create an instance of the OnehotEncoder
one_hot_encoder = OneHotEncoder()

# next list out the features to be encoded: (in this case I have only one: Phone Name )
# feature = "Phone Name"

# next is to create a transformer intance BY:
transformer = ColumnTransformer([
    ("oneHotEncoder",OneHotEncoder(sparse_output=False),[0])],remainder = "passthrough")

# now apply the transformer to the sample in this case: x_train
x_train_transformed = transformer.fit_transform(x)

In [56]:
df_x=pd.DataFrame(x_train_transformed)

In [59]:
df_x_test = pd.DataFrame(x_test_transformed)

In [57]:
df_x

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,202,203
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,12.0,6.2,68.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024.0,16.0,6.1,81.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,12.0,6.9,75.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,12.0,6.2,69.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,64.0,4.0,6.5,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,8.0,6.2,72.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,256.0,8.0,6.2,80.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024.0,16.0,6.9,93.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024.0,16.0,6.2,86.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,256.0,12.0,6.0,79.0

In [61]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor()
rfc.fit(x_train,y_train)

ValueError: could not convert string to float: 'Motorola Galaxy_41'