**first of all we would take a raw matrix showing the item sales through the weekdays(monday to friday), then we would take a 1D array at the bottom of**
**the matrix showing price of each item, finally we would calculate the total revenvue generated for all weekdays of all the item sales**

In [1]:
import numpy as np

In [2]:
np.random.seed(0)
item_sales = np.random.randint(3,10,size=(5,3))

In [3]:
item_sales

array([[7, 8, 3],
       [6, 6, 6],
       [4, 6, 8],
       [5, 7, 9],
       [3, 3, 7]], dtype=int32)

**now we would take random price sale for each item during the 5 days**

In [4]:
price_usd = np.array([21,19,15])

**task is that we want to calculate the price of each day for all items**

**task1: turn price_usd into a dataframe**

In [5]:
import pandas as pd

In [6]:
price_usd_df = pd.DataFrame(price_usd.reshape(1,3), index= ['item_price'],columns = ['item1','item2','item3'])

In [7]:
price_usd_df

            item1  item2  item3
item_price     21     19     15

**calculating total price for each day of the week**

In [8]:
total_sales = price_usd_df.dot(item_sales.T)

In [27]:
total = pd.DataFrame(total_sales.T,index=['mon','tue','wed','thu','fri'],columns = ['item_sales'])

In [28]:
total_price

     item_sales
mon         NaN
tue         NaN
wed         NaN
thu         NaN
fri         NaN

**lets turn the item_sales into a dataframe with labels**

In [29]:
weekly_sales = pd.DataFrame(item_sales, columns=['item1','item2','item3'],index=['mon','tue','wed','thu','fri'])

In [30]:
weekly_sales

     item1  item2  item3
mon      7      8      3
tue      6      6      6
wed      4      6      8
thu      5      7      9
fri      3      3      7