**first of all we would take a raw matrix showing the item sales through the weekdays(monday to friday), then we would take a 1D array at the bottom of**
**the matrix showing price of each item, finally we would calculate the total revenvue generated for all weekdays of all the item sales**

In [1]:
import numpy as np

In [2]:
np.random.seed(0)
item_sales = np.random.randint(3,10,size=(5,3))

In [4]:
item_sales

array([[7, 8, 3],
       [6, 6, 6],
       [4, 6, 8],
       [5, 7, 9],
       [3, 3, 7]], dtype=int32)

**now we would take random price sale for each item during the 5 days**

In [5]:
price_usd = np.array([21,19,15])

**task is that we want to calculate the price of each day for all items**

**task1: turn price_usd into a dataframe**

In [18]:
import pandas as pd

In [19]:
price_usd_df = pd.DataFrame(price_usd.reshape(1,3), index= ['item_price'],columns = ['item1','item2','item3'])

In [20]:
price_usd_df

            item1  item2  item3
item_price     21     19     15